<h1>Triathlon Club of New England</h1>
<p>
  <%= @yaml['Messages']['welcome'] %>
</p>
<div class="span6" id="main_page_cycle">
  <img src="/assets/patriot_group.jpg"/>
  <img src="/assets/kevan_firm.jpg"/>
  <img src="/assets/3_amigos.jpg"/>
</div>
<div class="span10">
  <hr class="style-four">
  Here are some upcoming events:<br>
  <ul>

    <% @events.each do |event| %>
        <% unless Date.strptime(event.summary).past? %>
            <li><%= show_date(event.summary) %> -- <%= link_to event.title, event.url %></li>
        <% end %>
    <% end %>

  </ul>

</div>


<div class="container">

  <div class="span10">
    <br>
    <div class="container">
      <a href="https://tri-ne.rhodeproject.com/" class="btn btn-primary">Become a Member</a>
    </div>
  </div>

</div>


