<img src="/assets/tri-ne_banner.png"/>
<p>
  The Triathlon Club of New England (Tri-NE) was established in 2010 to serve the growing population of multi-sport athletes in Rhode Island and Southeastern Massachusetts and create a community of teamwork, support and training for beginner to intermediate triathletes.  One of the best aspects of triathlon is the feeling of mutual respect and solidarity amongst athletes, and we at Tri-NE want to be a group that shares in that great spirit.

  Our mission is to be a welcoming community for the new athlete, a training network for the competitor, and a motivator for all. We want to be a place our members can experience personal athletic growth, join in the success of their teammates and share in the information and collective wisdom of the group. Individuals looking to begin or expand their training in any of the three disciplines of the triathlon are welcome.

  INTERESTED IN BECOMING A PART OF A THRIVING TRIATHLON COMMUNITY? IF SO,
  HERE ARE A FEW OF THE BENEFITS OF BECOMING A TRI NE MEMBER :
<hr class="style-four">
<ul>
  <li>Weekly and Monthly GROUP TRAINING SESSIONS led by coaches and club leaders.</li>
  <li>6 TRIATHLON CLINICS each year by our resident USAT Coaches Tara Comer and Jon Lamaroux. Inluding:Triathlon 101, A Taste of Iron: 70.3, Nutrition for Long Distance Racing and Mental Strength Training, Open Water Swim Clinic, and Additional clinic opportunities with visiting elite level coaches and leaders in the triathlon community</li>
  <li>Access to a very active MESSAGE BOARD. THE place to find training partners, training routes, advice, race reports, support, carpool to races, lodging and company for out of town races, resources, and encouragement and so much more.</li>
  <li>DISCOUNTS and special offers from all our AWESOME sponsors. 2011 Sponsors include:10% from Providence Bicycle, Monthly Raffle for Free Massage from Nancy Gillooly Massage Therapist, Special services from Foundation Performance</li>
  <li>HOSPITALITY TENTS at local races. A place for your family and friends to hang out (out of the sun and enjoying cold water and watermelon slices) while you race and a post-race haven for athletes to relax,recover, and celebrate!</li>
  <li>Monthly CLUB SOCIALS at Wild Colonial. We do like to indulge in a cold beverage other than HEED</li>
  <li>3 Big ANNUAL EVENTS: Holiday Party, Club Meeting, Club Season Closer at TDD Sprint Tri.</li>
  <li>CAMARADERIE at local races! Inspiration and encouragement from your fellow members on the race course will keep your motivation high as you head for the finish line.</li>
</ul>
<hr class="style-four">
<a href="https://www.rhodeproject.com/signup" class="btn btn-primary">Become a Member</a>
</p>