<img src="/assets/tri-ne_banner.png"/>
<hr class="style-four">
<br>

<p>
  <%= @yaml['Messages']['welcome'] %>
</p>
Here are some upcoming events:<br>
<ul>
  <% @yaml['Events'].each do |name, desc| %>
    <li><%= name %> - <%= desc %></li>
  <% end %>
</ul>

<hr class="style-four">
<div class="container">
  <%= @yaml['Messages']['membership'] %>
</div>
<br>
<div class="container">
  <a href="https://tri-ne.rhodeproject.com/" class="btn btn-primary">Become a Member</a>
</div>

