<ul>
  <li>Tara Comer - President</li>
  <li>John Lamareoux - Vice President</li>
  <li>Cass Walsh - Treasurer</li>
  <li>Tyler Ray - Secretary</li>
  <li>Matt Hatch - Director</li>
  <li>Kellie Armstrong - Director</li>
  <li>Norine Coutemanche - Director</li>
  <li>Kevan Hauver - Director</li>
  <li>John Cullinane - Director</li>
</ul>