<div class="span5" id="sponsors_list">
  <img src="/assets/QRicon2.png" class="main"/>
  <img src="/assets/Litespeedlogo.png"/>
  <img src="/assets/fp.JPG"/>
  <img src="/assets/nancy.JPG"/>
  <img src="/assets/provbike.jpg"/>
</div>