
<div class="row">
  <aside  class="span3">
    <section><h3>Sponsors</h3><br>
      <div class="span3" id="sponsors_cycle">
        <img src="/assets/fp.JPG"/>
        <img src="/assets/nancy.JPG"/>
        <img src="/assets/provbike.jpg"/>
      </div>
    </section>
  </aside>
    <div class="span10" id="home">
        <%= render 'home' %>
    </div>
    <div class="span10" id="leadership">
      <%= render 'leadership', :officers => @officers %>
    </div>
    <div class="span10" id="sponsors"><%= render 'sponsors' %></div>
</div>