
<div class="row">
  <aside  class="span3">
    <section><br>
      <div class="span3" id="sponsors_cycle1">
        <%= render 'sponsor_list' %>
      </div>
    </section>
  </aside>
  <div class="span8">
    <img src="/assets/tri-ne_banner.png"/>
    <br>
  </div>

    <div class="span8" id="home">
        <%= render 'home' %>
    </div>
    <div class="span8" id="leadership">
      <%= render 'leadership', :officers => @officers %>
    </div>
    <div class="span8" id="sponsors"><%= render 'sponsors' %></div>
</div>